
services:
  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=${VITE_API_URL}
    ports:
      - "8080:80"
    # environment:
    #   - VITE_API_URL=${VITE_API_URL}
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=${MONGO_URL}
      - RANDOM_SECRET_TOKEN=${RANDOM_SECRET_TOKEN}
      - NODE_ENV=${NODE_ENV}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - CLOUDINARY_URL=${CLOUDINARY_URL}
    networks:
      - app-network

networks:
  app-network:
    driver: bridge